html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: hsl(0, 0%, 98%);
}

h1,
h2,
h3 {
  font-weight: 800;
}

p {
  font-weight: 300;
}

button {
  font-weight: 600;
  font-size: inherit;
}
